
@{ ViewData["Title"] = "Order"; }

<div class="site-section">
    <div class="container">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3 class="text-center mt-5">Тук може да видите детайли за вашата поръчка или да направите поръчка.</h3>
                <a asp-controller="Orders" asp-action="OrderForm" class="btn btn-outline-primary btn-block margin-bottom mt-5">Направи поръчка</a>

            </section>

            <!-- Main content -->
            <section class="content mt-5">
                <div class="row">
                </div>

                <h4 class="active">История на поръчките</h4>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Вид услуга</th>
                                        <th>Статус</th>
                                        <th>Дата на поръчката</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{int count = 1;} 
                                    @foreach (var order in this.ViewData["orders"] as IList<MebelDesign71.Web.ViewModels.Orders.OrderViewModel>)
                                    {
                                    <tr>
                                        <td>@count</td>
                                        <td class="mailbox-name"><a href="@Url.Action("ReadMail", "Mailbox")">Детайли</a></td>
                                        <td class="mailbox-subject">
                                            @order.ServiceName
                                        </td>
                                        <td>@order.Progress</td>
                                        <td class="mailbox-date">@order.CreatedOn.ToShortDateString()</td>
                                        <td><a class='btn btn-danger btn-xs' href="/Orders/DeletedOrder?id=@order.OrderId">Изтрии</a></td>
                                    </tr>

                                        count++;
                                    }



                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                </div>
                <!-- /. box -->
            </section>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.content -->
</div>
</div>
</div>




