@using MebelDesign71.Data.Models
@using MebelDesign71.Web.Infrastructure
@using System.ComponentModel.DataAnnotations;
@{ ViewData["Title"] = "Order"; }

<div class="site-section">
    <div class="container">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3 class="text-center mt-5">Тук може да видите детайли за вашата поръчка или да направите поръчка.</h3>
                <a asp-controller="Orders" asp-action="OrderForm" class="btn btn-outline-primary btn-block margin-bottom mt-5">Направи поръчка</a>

            </section>

            <!-- Main content -->
            <section class="content mt-5">
                <div class="row">
                </div>

                <h4 class="active">История на поръчките <small class="font-italic"> &nbsp &nbsp &nbsp може да отмените поръчка докато нейният статус е "Чакаща"</small></h4>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Номер</th>
                                        <th></th>
                                        <th>Вид услуга</th>
                                        <th>Статус</th>
                                        <th>Дата на поръчката</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{int count = 1;}
                                    @foreach (var order in this.ViewData["orders"] as IList<MebelDesign71.Web.ViewModels.Orders.OrderViewModel>)
                                    {
                        <tr>
                            <td>@count</td>
                            <td>@order.Number</td>
                            <td><a href="/Orders/Details?id=@order.OrderId">Детайли</a></td>
                            <td>@order.ServiceName</td>
                            <td>@order.ProgressDisplay</td>
                            <td>@order.CreatedOn</td>
                            @if (order.Progress == MebelDesign71.Data.Models.Progress.Wait)
                            {
                                <td><a class='btn btn-outline-danger btn-sm' href="/Orders/DeletedOrder?id=@order.OrderId">Отмени</a></td>}
                        </tr>count++;
                                    }



                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                </div>
                <!-- /. box -->
            </section>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.content -->
</div>
</div>
</div>




