@model MebelDesign71.Web.ViewModels.Projects.ProjectViewModel
@using MebelDesign71.Web.ViewModels.ProjectsImage
@using System.Linq;
@inject MebelDesign71.Services.Data.Contracts.IProjectsGalleryService galleryService
@{ ViewData["Title"] = "All Projects"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Управление на категориите за проекти
            <small>тук маже да добавите, промените или изтриете категория </small>
        </h1>
        <a asp-area="Administration" asp-controller="AdminProjects" asp-action="CreateProject" type="button" class="btn btn-success btn-lg btn-block">Добавяне на проект</a>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Всички проекти</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Проект</th>
                                    <th>Описание</th>
                                    <th>Снимка</th>
                                    <th>Активен</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>

                            
                            @foreach (var item in ViewData["AllProjects"] as IList<MebelDesign71.Web.ViewModels.Projects.ProjectViewModel>)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td><textarea cols="40" rows="6">@item.Description</textarea></td>
                                        <td><img src="@item.HeadImage" width=180 height=120 asp-append-version="true" /></td>
                                        <td>@item.IsDeleted</td>
                                        <td><a class='btn btn-warning btn-xs' href="/Administration/AdminProjects/ChangeIsDeleted?id=@item.Id">Ативирай/Деактивирай</a></td>
                                        <td><a class='btn btn-info btn-xs' href="/Administration/AdminProjects/UpdateProject?id=@item.Id">Промени</a></td>

                                        @{var gallery = galleryService.GetGallery(item.Id).Result.Count;}
                                        
                                        @if (gallery == 0)
                                       {
                                           <td><a class='btn btn-danger btn-xs' href="/Administration/AdminProjects/Delete?id=@item.Id">Изтрии</a></td>
                                       }
                               
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>


