@model MebelDesign71.Web.ViewModels.Orders.OrderViewModel
@using MebelDesign71.Data.Models
@{ ViewData["Title"] = "Admin Orders"; }

<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Управление на поръчките
        </h1>
    </section>

    <section class="content mt-5">
        <div class="row">

            <div class="col-md-12">
                <div class="box">
                    <div class="row">
                       <!--Sort By User-->
                        <form asp-area="Administration" asp-controller="AdminOrders" asp-action="Index" method="post" class="col-md-6 col-md-offset-0">
                            <label>Намери всички поръчки на потребител</label>
                            <select class="form-control" style="width: 100%;" name="Id">
                                <option selected="selected">Изберете потребител...</option>
                                @foreach (var user in this.ViewData["users"] as IList<MebelDesign71.Data.Models.ApplicationUser>)
                                {
                                      <option value=@user.Id>@user.Email</option>
                                }
                            </select>
                            <div class="box-footer">
                                <button type="submit" value="Създай" class="btn btn-primary btn-lg btn-block">Търсене </button>
                            </div>
                        </form>

                        <!--Sort By Parametar-->
                        @{ var userId = this.ViewData["userId"];}
                        <form asp-area="Administration" asp-controller="AdminOrders" asp-action="Index" method="post" class="col-md-6 col-md-offset-0">
                            <label>Сортирай</label>
                            <select class="form-control" style="width: 100%;" name="sortby">
                                <option selected="selected">Сортирай по...</option>
                                <option value="Service, @userId">По вид услуга</option>
                                <option value="ProgressUp, @userId">Статус възходящ</option>
                                <option value="ProgressDown, @userId">Статус низходящ</option>
                                <option value="DateUp, @userId">Дата възходящ</option>
                                <option value="DateDown, @userId">Дата низходяща</option>
                            </select>
                            <div class="box-footer">
                                <button type="submit" value="Създай" class="btn btn-primary btn-lg btn-block">Сортиране </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Клиент</th>
                                <th>Вид услуга</th>
                                <th>Статус</th>
                                <th>Дата на поръчката</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = 1;}
                            @foreach (var order in this.ViewData["orders"] as IList<MebelDesign71.Web.ViewModels.Orders.OrderViewModel>)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@order.UserEmail</td>
                                    <td>@order.ServiceName</td>
                                    <td>@order.ProgressDisplay</td>
                                    <td>@order.CreatedOn</td>
                                    <td><a class='btn btn-warning btn-xs' href="AdminOrders/UpdateOrder?id=@order.OrderId">Разгледай/Промени</a></td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</div>