@model MebelDesign71.Web.ViewModels.Service.ServiceInputModel
@using MebelDesign71.Web.ViewModels.Service
@using MebelDesign71.Web.ViewModels.Orders
@using System.Linq;
@{ ViewData["Title"] = "All Services"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Управление на услугите
            <small class="font-italic">тук маже да добавите, промените или изтриете услуга </small>
        </h1>
        <a asp-area="Administration" asp-controller="AdminServices" asp-action="CreateService" type="button" class="btn btn-success btn-lg btn-block">Добавяне на услуга</a>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Всички услуги</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Услуга</th>
                                    <th>Описание</th>
                                    <th>Снимка</th>
                                    <th>Прикачен файл</th>
                                    <th>Активен</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            @foreach (var service in ViewData["AllService"] as IList<ServiceInputModel>)
                            {
                                <tbody>
                                    <tr>
                                        <td>@service.Id</td>
                                        <td>@service.Name</td>
                                        <td><textarea cols="40" rows="6">@service.Description</textarea></td>
                                        <td><img src="@service.ImagePath" width=180 height=120 asp-append-version="true" /></td>
                                        @if (service.DocumentId != null)
                                        {
                                             <td><a class="btn btn-success btn-xs" asp-controller="AdminServices" asp-action="DownloadDocument" asp-route-id="@service.DocumentId" />@service.DocumentName</td> }
                                        else
                                        {
                                            <td>Няма прикачен документ</td>
                                        }
                                        <td>@service.IsDeleted</td>
                                        <td><a class='btn btn-warning btn-xs' href="/Administration/AdminServices/ChangeIsDeleted?id=@service.Id">Ативирай/Деактивирай</a></td>
                                        <td><a class='btn btn-info btn-xs' href="/Administration/AdminServices/UpdateService?id=@service.Id">Промени</a></td>
                                        @{ var orders = this.ViewData["Orders"] as List<OrderViewModel>;}
                                        @if (!orders.Any(o => o.ServiceId == service.Id))
                                        {
                                              <td><a class='btn btn-danger btn-xs' href="/Administration/AdminServices/Delete?id=@service.Id">Изтрии</a></td>
                                        }
                                    </tr>
                                </tbody>
                             }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>